SECRET_KEY = sample
ALLOWED_HOSTS = sample
DATABASE_NAME = sample
DATABASE_ENGINE = sample
SITE_NAME = sample
CELERY_BROKER_URL = sample
CELERY_RESULT_BACKEND = sample
CELERY_ACCEPT_CONTENT = sample
CELERY_RESULT_SERIALIZER = sample
CELERY_TASK_SERIALIZER = sample
CELERY_TIMEZONE = sample
CELERY_BEAT_SCHEDULE = sample
EMAIL_USE_TLS = sample
EMAIL_HOST = sample
EMAIL_PORT = sample
EMAIL_HOST_USER = sample
EMAIL_HOST_PASSWORD = sample
DEFAULT_FROM_EMAIL = sample
